* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#global {
    position: absolute;
    width: 1200px;
    height: 50vh;
    left: 12vw;
}

i{
    font-size: 2rem;
    color: whitesmoke;
}

.hid{
    position: absolute;
    background-color: white;
    z-index: 100;
}

img{
    position: absolute;
    width: 25vw;
    height: 100%;
}